body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0;
}

nav ul li {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    display: block;
}

.sign-up {
    padding: 50px 20px;
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sign-up h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: rgb(217, 205, 38);
}

.sign-up form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color:rgb(217, 205, 38);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button[type="submit"]:hover {
    background-color: #b9c78af3;
}

.sign-up p {
    text-align: center;
    margin-top: 20px;
    
}

.sign-up p a {
    color: rgb(217, 205, 38);
    text-decoration: none;
}

.sign-up p a:hover {
    color: #b9c78af3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer p {
    margin: 0;
}

.foot a {
    color:#f4f4f4;
    text-decoration: none;
}
a:hover {
    color: rgb(217, 205, 38);
}