body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 33%);
    color: #333;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    display: block;
    margin: 0;
}

.terms-of-service {
    padding: 50px 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.terms-of-service h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: rgb(217, 205, 38);
}

.terms-of-service p, .terms-of-service ul {
    margin-bottom: 20px;
    font-size: 1em;
    line-height: 1.6;
}

.terms-of-service h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: rgb(217, 205, 38);
}

.terms-of-service ul {
    list-style: disc;
    padding-left: 20px;
}

.terms-of-service ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.foot a {
    color:#fff;
}

a:hover {
    color: rgb(217, 205, 38);
}
a {
    text-decoration: none;
    
}